---
layout: book
title: "Testing Angular – A Guide to Robust Angular Applications. Free online book and e-book."
---

{% include symbols.html %}

<main id="main" class="main-testing-angular">

<p id="home-link">
  <a href="https://molily.de">molily</a>
  <a href="https://twitter.com/molily" target="_blank" rel="noopener" title="molily on Twitter">@molily</a>
</p>

<div id="cover-text">

  <p id="cover-image">
    <span id="cover-image-flying-probe-container">
      <picture>
        <source type="image/avif" srcset="/assets/img/flying-probe-800-cavif-q60.avif, /assets/img/flying-probe-1600-cavif-q50.avif 2x">
        <source type="image/webp" srcset="/assets/img/flying-probe-800-cwebp-q80.webp, /assets/img/flying-probe-1600.webp 2x">
        <source type="image/jpeg" srcset="/assets/img/flying-probe-800-85.jpg, /assets/img/flying-probe-1600-65.jpg 2x">
        <img
          id="cover-image-flying-probe"
          src="/assets/img/flying-probe-800-85.jpg"
          alt="Photo of flying probes testing a printed circuit board." />
      </picture>
    </span>

    <span id="cover-credits">
      Flying probes testing a printed circuit board. Photo by genkur from iStock.
    </span>
  </p>

  <h1 id="main-heading">
    <span class="main-title">Testing Angular</span><br />
    <span class="subheading">A Guide to Robust Angular Applications</span><br />
    <span class="subheading-small">A free online book and e-book</span>
  </h1>

  <p class="intro"><em class="intro-caps">The Angular framework</em> is a mature and comprehensive solution for enterprise-ready applications based on web technologies. At Angular’s core lies the ability to test all application parts in an automated way. How do we take advantage of Angular’s testability?</p>

</div><!-- /cover-text -->

<svg class="separator" aria-hidden="true"><use xlink:href="#ornament" /></svg>

<p id="toc-epub-link">
  <a href="/assets/testing-angular.epub" download>Download this book as EPUB (2 MB)</a>
</p>

<nav id="cover-toc-tree">

{% include toc-tree.html %}

</nav>

{% include footer.html %}
