---
layout: book
title: Testing Angular – A Guide to Robust Angular Applications. Free online book and e-book.
append_site_title: false
---

{% include symbols.html %}

<main id="main" class="main-testing-angular">

<p id="home-link">
  <a href="https://molily.de">molily</a>
  <a href="https://twitter.com/molily" target="_blank" rel="noopener" title="Follow molily on Twitter" aria-label="Follow molily on Twitter">@molily</a>
</p>

<div id="cover-text">

  <p id="cover-image">
    <span id="cover-image-flying-probe-container">
      <picture>
        <source type="image/avif" srcset="/assets/img/flying-probe-672-cavif-q60.avif, /assets/img/flying-probe-1344-cavif-q50.avif 2x">
        <source type="image/webp" srcset="/assets/img/flying-probe-672-cwebp-q80.webp, /assets/img/flying-probe-1344-cwebp-q80.webp 2x">
        <source type="image/jpeg" srcset="/assets/img/flying-probe-672-q85.jpg, /assets/img/flying-probe-1344-q65.jpg 2x">
        <img
          id="cover-image-flying-probe"
          src="/assets/img/flying-probe-672-q85.jpg"
          alt="Photo of flying probes testing a printed circuit board." />
      </picture>
    </span>

    <span id="cover-credits">
      Flying probes testing a printed circuit board. Photo by genkur from iStock.
    </span>
  </p>

  <h1 id="cover-heading">
    <span class="cover-title">Testing Angular</span><br />
    <span class="subheading">A Guide to Robust Angular Applications</span><br />
    <span class="subheading-small">A free online book and e-book</span>
  </h1>

  <p class="intro"><em class="intro-caps">The Angular framework</em> is a mature and comprehensive solution for enterprise-ready applications based on web technologies. At Angular’s core lies the ability to test all application parts in an automated way. How do we take advantage of Angular’s testability?</p>

  <p class="intro">This guide explains the principles of automated testing as well as the practice of testing Angular web applications. It empowers you and your team to write effective tests on a daily basis.</p>

  <p class="intro">In this book, you learn how to set up your own testing conventions, write your own testing helpers and apply proven testing libraries. The book covers different tests that complement each other: unit tests, integration tests and end-to-end tests.</p>

  <p class="intro">With a strong focus on testing Angular Components, this guide teaches you to write realistic specs that describe and verify a Component’s behavior. It demonstrates how to properly mock dependencies like Services to test a Component in isolation. The guide introduces the Spectator and ng-mocks libraries, two powerful testing libraries.</p>

  <p class="intro">Apart from Components, the book illustrates how to test the other application parts: Services, Pipes, Directives as well as Modules. Last but not least, it covers end-to-end tests with Cypress.</p>
</div><!-- /cover-text -->

<svg class="separator" aria-hidden="true"><use xlink:href="#ornament" /></svg>

<p id="toc-epub-link">
  <a href="/assets/testing-angular.epub" download>Download this book as EPUB (1.8 MB)</a>
</p>

<nav id="cover-toc-tree">

{% include toc-tree.html %}

</nav>

{% include footer.html %}
