<svg class="separator" aria-hidden="true"><use xlink:href="#ornament" /></svg>

</main>

<footer id="page-footer">
  <div id="page-footer-inner">
    <p>
      {{ site.title }} – {{ site.subtitle }}<br>
      A free online book and e-book written by <a href="https://molily.de">molily</a>
    </p>
    <p>
      Last modified: <time datetime="{% last_modified_at %}">{% last_modified_at %}</time><br>
      First published on: <time datetime="2021-02-17">2021-02-17</time>
    </p>
    <p>
      Feedback: <a href="mailto:molily@mailbox.org">Send an e-mail</a> or <a href="https://github.com/molily/testing-angular/">file an issue on GitHub</a>.
    </p>
    <p>
      <a href="https://mastodon.social/@molily">Follow molily on Mastodon</a> or <a href="https://bsky.app/profile/molily.de">Bluesky</a>.
    </p>
    <p>
      License: <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike (CC BY-SA 4.0)</a><br>
      The example code is released into the public domain. See <a href="https://unlicense.org/">Unlicense</a>.
    </p>
    <p>
      <a href="https://molily.de/impressum/" lang="de" hreflang="de">Impressum &amp; Datenschutz</a>
    </p>
  </div>
</footer>

</div><!-- /main-container -->
