{% include symbols.html %}

<p><a href="#main" class="skip-navigation">Skip navigation, jump to main content</a></p>

<p id="sticky-menu">
  <a href="#toc-tree" class="toc-link">
    Table of Contents
  </a>
  <a href="https://mastodon.social/@molily" target="_blank" rel="noopener" title="Follow molily on Mastodon" aria-label="Follow molily on Mastodon">Mastodon</a>
  <a href="https://bsky.app/profile/molily.de" target="_blank" rel="noopener" title="Follow molily on Bluesky" aria-label="Follow molily on Bluesky">Bluesky</a>

</p>

<div id="sidebar">
  <nav id="toc">
    <p id="home-link">
      <a href="https://molily.de">molily</a>
      <a href="https://mastodon.social/@molily" target="_blank" rel="noopener" title="Follow molily on Mastodon" aria-label="Follow molily on Mastodon">Mastodon</a>
      <a href="https://bsky.app/profile/molily.de" target="_blank" rel="noopener" title="Follow molily on Bluesky" aria-label="Follow molily on Bluesky">Bluesky</a>
    </p>
    <p id="toc-book-title">
      {{ site.title }}<br>
      <small>{{ site.subtitle }}</small>
    </p>
    <p id="toc-epub-link">
      <a href="/assets/testing-angular.epub" download>Download this book as EPUB (2 MB)</a>
    </p>
    <h2 id="toc-heading">Table of Contents</h2>
    {% include toc-tree.html %}
  </nav>
</div><!-- /sidebar -->

<div id="main-container">
<main id="main" class="main-testing-angular" markdown="1">
