<ol id="toc-tree">
  <li><a href="/introduction/#introduction">Introduction</a></li>
  <li><a href="/target-audience/#target-audience">Target audience</a></li>
  <li><a href="/terminology/#terminology">Terminology</a></li>
  <li>
    <a href="/testing-principles/#testing-principles">Testing principles</a>
    <ol>
      <li><a href="/testing-principles/#what-makes-a-good-test">What makes a good test</a></li>
      <li>
        <a href="/testing-principles/#what-testing-can-achieve">What testing can achieve</a>
      </li>
      <li>
        <a href="/testing-principles/#tailoring-your-testing-approach">Tailoring your testing approach</a>
      </li>
      <li>
        <a href="/testing-principles/#the-right-amount-of-testing">The right amount of testing</a>
      </li>
      <li>
        <a href="/testing-principles/#levels-of-testing">Levels of testing</a>
        <ol>
          <li><a href="/testing-principles/#end-to-end-tests">End-to-end tests</a></li>
          <li><a href="/testing-principles/#unit-tests">Unit tests</a></li>
          <li><a href="/testing-principles/#integration-tests">Integration tests</a></li>
        </ol>
      </li>
      <li>
        <a href="/testing-principles/#distribution-of-testing-efforts">Distribution of testing efforts</a>
      </li>
      <li>
        <a href="/testing-principles/#black-box-vs-white-box-testing">Black box vs. white box testing</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/example-applications/#example-applications">Example applications</a>
    <ol>
      <li><a href="/example-applications/#the-counter-component">The counter Component</a></li>
      <li>
        <a href="/example-applications/#the-flickr-photo-search">The Flickr photo search</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/angular-testing-principles/#angular-testing-principles">Angular testing principles</a>
    <ol>
      <li><a href="/angular-testing-principles/#testability">Testability</a></li>
      <li>
        <a href="/angular-testing-principles/#dependency-injection-and-faking">Dependency injection and faking</a>
      </li>
      <li><a href="/angular-testing-principles/#testing-tools">Testing tools</a></li>
      <li><a href="/angular-testing-principles/#testing-conventions">Testing conventions</a></li>
      <li>
        <a href="/angular-testing-principles/#running-the-unit-and-integration-tests">Running the unit and integration tests</a>
      </li>
      <li>
        <a href="/angular-testing-principles/#configuring-karma-and-jasmine">Configuring Karma and Jasmine</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/test-suites-with-jasmine/#test-suites-with-jasmine">Test suites with Jasmine</a>
    <ol>
      <li><a href="/test-suites-with-jasmine/#creating-a-test-suite">Creating a test suite</a></li>
      <li><a href="/test-suites-with-jasmine/#specifications">Specifications</a></li>
      <li><a href="/test-suites-with-jasmine/#structure-of-a-test">Structure of a test</a></li>
      <li><a href="/test-suites-with-jasmine/#expectations">Expectations</a></li>
      <li><a href="/test-suites-with-jasmine/#efficient-test-suites">Efficient test suites</a></li>
    </ol>
  </li>
  <li>
    <a href="/faking-dependencies/#faking-dependencies">Faking dependencies</a>
    <ol>
      <li>
        <a href="/faking-dependencies/#equivalence-of-fake-and-original">Equivalence of fake and original</a>
      </li>
      <li><a href="/faking-dependencies/#effective-faking">Effective faking</a></li>
      <li>
        <a href="/faking-dependencies/#faking-functions-with-jasmine-spies">Faking functions with Jasmine spies</a>
      </li>
      <li>
        <a href="/faking-dependencies/#spying-on-existing-methods">Spying on existing methods</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/debugging-tests/#debugging-tests">Debugging tests</a>
    <ol>
      <li><a href="/debugging-tests/#test-focus">Test focus</a></li>
      <li><a href="/debugging-tests/#developer-tools">Developer tools</a></li>
      <li>
        <a href="/debugging-tests/#debug-output-and-the-javascript-debugger">Debug output and the JavaScript debugger</a>
      </li>
      <li><a href="/debugging-tests/#inspect-the-dom">Inspect the DOM</a></li>
      <li><a href="/debugging-tests/#jasmine-debug-runner">Jasmine debug runner</a></li>
    </ol>
  </li>
  <li>
    <a href="/testing-components/#testing-components">Testing Components</a>
    <ol>
      <li>
        <a href="/testing-components/#unit-test-for-the-counter-component">Unit test for the counter Component</a>
      </li>
      <li><a href="/testing-components/#testbed">TestBed</a></li>
      <li>
        <a href="/testing-components/#configuring-the-testing-module">Configuring the testing Module</a>
      </li>
      <li>
        <a href="/testing-components/#rendering-the-component">Rendering the Component</a>
      </li>
      <li><a href="/testing-components/#testbed-and-jasmine">TestBed and Jasmine</a></li>
      <li>
        <a href="/testing-components/#componentfixture-and-debugelement">ComponentFixture and DebugElement</a>
      </li>
      <li>
        <a href="/testing-components/#writing-the-first-component-spec">Writing the first Component spec</a>
      </li>
      <li>
        <a href="/testing-components/#querying-the-dom-with-test-ids">Querying the DOM with test ids</a>
      </li>
      <li>
        <a href="/testing-components/#triggering-event-handlers">Triggering event handlers</a>
      </li>
      <li><a href="/testing-components/#expecting-text-output">Expecting text output</a></li>
      <li><a href="/testing-components/#testing-helpers">Testing helpers</a></li>
      <li><a href="/testing-components/#filling-out-forms">Filling out forms</a></li>
      <li><a href="/testing-components/#testing-inputs">Testing Inputs</a></li>
      <li><a href="/testing-components/#testing-outputs">Testing Outputs</a></li>
      <li>
        <a href="/testing-components/#repetitive-component-specs">Repetitive Component specs</a>
      </li>
      <li>
        <a href="/testing-components/#black-vs-white-box-component-testing">Black vs. white box Component testing</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-components-with-children/#testing-components-with-children">Testing Components with children</a>
    <ol>
      <li>
        <a href="/testing-components-with-children/#shallow-vs-deep-rendering">Shallow vs. deep rendering</a>
      </li>
      <li>
        <a href="/testing-components-with-children/#faking-a-child-component">Faking a child Component</a>
      </li>
      <li>
        <a href="/testing-components-with-children/#faking-a-child-component-with-ng-mocks">Faking a child Component with ng-mocks</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-components-depending-on-services/#testing-components-depending-on-services">Testing Components depending on Services</a>
    <ol>
      <li>
        <a href="/testing-components-depending-on-services/#service-dependency-integration-test">Service dependency integration test</a>
      </li>
      <li>
        <a href="/testing-components-depending-on-services/#faking-service-dependencies">Faking Service dependencies</a>
      </li>
      <li>
        <a href="/testing-components-depending-on-services/#fake-service-with-minimal-logic">Fake Service with minimal logic</a>
      </li>
      <li>
        <a href="/testing-components-depending-on-services/#faking-services-summary">Faking Services: Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-complex-forms/#testing-complex-forms">Testing complex forms</a>
    <ol>
      <li><a href="/testing-complex-forms/#sign-up-form-component">Sign-up form Component</a></li>
      <li>
        <a href="/testing-complex-forms/#form-validation-and-errors">Form validation and errors</a>
      </li>
      <li><a href="/testing-complex-forms/#test-plan">Test plan</a></li>
      <li><a href="/testing-complex-forms/#test-setup">Test setup</a></li>
      <li>
        <a href="/testing-complex-forms/#successful-form-submission">Successful form submission</a>
      </li>
      <li><a href="/testing-complex-forms/#invalid-form">Invalid form</a></li>
      <li>
        <a href="/testing-complex-forms/#form-submission-failure">Form submission failure</a>
      </li>
      <li><a href="/testing-complex-forms/#required-fields">Required fields</a></li>
      <li>
        <a href="/testing-complex-forms/#asynchronous-validators">Asynchronous validators</a>
      </li>
      <li>
        <a href="/testing-complex-forms/#dynamic-field-relations">Dynamic field relations</a>
      </li>
      <li><a href="/testing-complex-forms/#password-type-toggle">Password type toggle</a></li>
      <li>
        <a href="/testing-complex-forms/#testing-form-accessibility">Testing form accessibility</a>
        <ol>
          <li><a href="/testing-complex-forms/#pa11y">pa11y</a></li>
          <li><a href="/testing-complex-forms/#pa11y-ci">pa11y-ci</a></li>
          <li>
            <a href="/testing-complex-forms/#start-server-and-run-pa11y-ci">Start server and run pa11y-ci</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="/testing-complex-forms/#form-accessibility-summary">Form accessibility: Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-components-with-spectator/#testing-components-with-spectator">Testing Components with Spectator</a>
    <ol>
      <li>
        <a href="/testing-components-with-spectator/#component-with-an-input">Component with an Input</a>
      </li>
      <li>
        <a href="/testing-components-with-spectator/#component-with-children-and-service-dependency">Component with children and Service dependency</a>
      </li>
      <li>
        <a href="/testing-components-with-spectator/#event-handling-with-spectator">Event handling with Spectator</a>
      </li>
      <li><a href="/testing-components-with-spectator/#spectator-summary">Spectator: Summary</a></li>
    </ol>
  </li>
  <li>
    <a href="/testing-services/#testing-services">Testing Services</a>
    <ol>
      <li>
        <a href="/testing-services/#testing-a-service-with-internal-state">Testing a Service with internal state</a>
      </li>
      <li>
        <a href="/testing-services/#testing-a-service-that-sends-http-requests">Testing a Service that sends HTTP requests</a>
        <ol>
          <li>
            <a href="/testing-services/#call-the-method-under-test">Call the method under test</a>
          </li>
          <li>
            <a href="/testing-services/#find-pending-requests">Find pending requests</a>
          </li>
          <li>
            <a href="/testing-services/#respond-with-fake-data">Respond with fake data</a>
          </li>
          <li>
            <a href="/testing-services/#check-the-result-of-the-method-call">Check the result of the method call</a>
          </li>
          <li>
            <a href="/testing-services/#verify-that-all-requests-have-been-answered">Verify that all requests have been answered</a>
          </li>
          <li>
            <a href="/testing-services/#testing-the-error-case">Testing the error case</a>
          </li>
          <li>
            <a href="/testing-services/#alternatives-for-finding-pending-requests">Alternatives for finding pending requests</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="/testing-services/#testing-services-summary">Testing Services: Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-pipes/#testing-pipes">Testing Pipes</a>
    <ol>
      <li><a href="/testing-pipes/#greetpipe">GreetPipe</a></li>
      <li><a href="/testing-pipes/#greetpipe-test">GreetPipe test</a></li>
      <li>
        <a href="/testing-pipes/#testing-pipes-with-dependencies">Testing Pipes with dependencies</a>
        <ol>
          <li><a href="/testing-pipes/#translateservice">TranslateService</a></li>
          <li><a href="/testing-pipes/#translatepipe">TranslatePipe</a></li>
          <li><a href="/testing-pipes/#translatepipe-test">TranslatePipe test</a></li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <a href="/testing-directives/#testing-directives">Testing Directives</a>
    <ol>
      <li>
        <a href="/testing-directives/#testing-attribute-directives">Testing Attribute Directives</a>
        <ol>
          <li>
            <a href="/testing-directives/#thresholdwarningdirective">ThresholdWarningDirective</a>
          </li>
          <li>
            <a href="/testing-directives/#thresholdwarningdirective-test">ThresholdWarningDirective test</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="/testing-directives/#testing-structural-directives">Testing Structural Directives</a>
        <ol>
          <li><a href="/testing-directives/#paginatedirective">PaginateDirective</a></li>
          <li>
            <a href="/testing-directives/#paginatedirective-test">PaginateDirective test</a>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li><a href="/testing-modules/#testing-modules">Testing Modules</a></li>
  <li>
    <a href="/measuring-code-coverage/#measuring-code-coverage">Measuring code coverage</a>
    <ol>
      <li><a href="/measuring-code-coverage/#coverage-report">Coverage report</a></li>
      <li>
        <a href="/measuring-code-coverage/#how-to-use-the-coverage-report">How to use the coverage report</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="/end-to-end-testing/#end-to-end-testing">End-to-end testing</a>
    <ol>
      <li>
        <a href="/end-to-end-testing/#strengths-of-end-to-end-tests">Strengths of end-to-end tests</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#deployment-for-end-to-end-tests">Deployment for end-to-end tests</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#how-end-to-end-tests-work">How end-to-end tests work</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#end-to-end-testing-frameworks">End-to-end testing frameworks</a>
      </li>
      <li><a href="/end-to-end-testing/#introducing-protractor">Introducing Protractor</a></li>
      <li><a href="/end-to-end-testing/#introducing-cypress">Introducing Cypress</a></li>
      <li><a href="/end-to-end-testing/#installing-cypress">Installing Cypress</a></li>
      <li>
        <a href="/end-to-end-testing/#writing-an-end-to-end-test-with-cypress">Writing an end-to-end test with Cypress</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#testing-the-counter-component">Testing the counter Component</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#running-the-cypress-tests">Running the Cypress tests</a>
      </li>
      <li><a href="/end-to-end-testing/#asynchronous-tests">Asynchronous tests</a></li>
      <li>
        <a href="/end-to-end-testing/#automatic-retries-and-waiting">Automatic retries and waiting</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#testing-the-counter-increment">Testing the counter increment</a>
      </li>
      <li><a href="/end-to-end-testing/#finding-elements">Finding elements</a></li>
      <li>
        <a href="/end-to-end-testing/#interacting-with-elements">Interacting with elements</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#custom-cypress-commands">Custom Cypress commands</a>
      </li>
      <li>
        <a href="/end-to-end-testing/#testing-the-flickr-search">Testing the Flickr search</a>
        <ol>
          <li>
            <a href="/end-to-end-testing/#testing-the-search-form">Testing the search form</a>
          </li>
          <li>
            <a href="/end-to-end-testing/#testing-the-full-photo">Testing the full photo</a>
          </li>
        </ol>
      </li>
      <li><a href="/end-to-end-testing/#page-objects">Page objects</a></li>
      <li><a href="/end-to-end-testing/#faking-the-flickr-api">Faking the Flickr API</a></li>
      <li>
        <a href="/end-to-end-testing/#end-to-end-testing-summary">End-to-end testing: Summary</a>
      </li>
    </ol>
  </li>
  <li><a href="/summary/#summary">Summary</a></li>
  <li>
    <a href="/index-of-example-applications/#index-of-example-applications">Index of example applications</a>
  </li>
  <li><a href="/references/#references">References</a></li>
  <li><a href="/acknowledgements/#acknowledgements">Acknowledgements</a></li>
  <li><a href="/about/#about">About</a></li>
  <li><a href="/license/#license">License</a></li>
</ol>
