/**
 * Clearfix that contains the top and bottom margins of children
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}