// From https://github.com/richleland/pygments-css/blob/master/manni.css
// https://github.com/richleland/pygments-css/blob/master/UNLICENSE.txt
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #FF6600 } /* Literal.Number.Bin */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sa { color: #CC3300 } /* Literal.String.Affix */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .dl { color: #CC3300 } /* Literal.String.Delimiter */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #CC00FF } /* Name.Function.Magic */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .vm { color: #003333 } /* Name.Variable.Magic */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */

@include dark-scheme {
  // From https://github.com/richleland/pygments-css/blob/master/native.css
  // https://github.com/richleland/pygments-css/blob/master/UNLICENSE.txt
  .highlight .hll { background-color: #404040 }
  .highlight .c { color: #999999; font-style: italic } /* Comment */
  .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .highlight .esc { color: #d0d0d0 } /* Escape */
  .highlight .g { color: #d0d0d0 } /* Generic */
  .highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
  .highlight .l { color: #d0d0d0 } /* Literal */
  .highlight .n { color: #d0d0d0 } /* Name */
  .highlight .o { color: #d0d0d0 } /* Operator */
  .highlight .x { color: #d0d0d0 } /* Other */
  .highlight .p { color: #d0d0d0 } /* Punctuation */
  .highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
  .highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
  .highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
  .highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
  .highlight .gd { color: #d22323 } /* Generic.Deleted */
  .highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #d22323 } /* Generic.Error */
  .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
  .highlight .gi { color: #589819 } /* Generic.Inserted */
  .highlight .go { color: #cccccc } /* Generic.Output */
  .highlight .gp { color: #aaaaaa } /* Generic.Prompt */
  .highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
  .highlight .gt { color: #d22323 } /* Generic.Traceback */
  .highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
  .highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
  .highlight .ld { color: #d0d0d0 } /* Literal.Date */
  .highlight .m { color: #3677a9 } /* Literal.Number */
  .highlight .s { color: #ed9d13 } /* Literal.String */
  .highlight .na { color: #bbbbbb } /* Name.Attribute */
  .highlight .nb { color: #24909d } /* Name.Builtin */
  .highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
  .highlight .no { color: #40ffff } /* Name.Constant */
  .highlight .nd { color: #ffa500 } /* Name.Decorator */
  .highlight .ni { color: #d0d0d0 } /* Name.Entity */
  .highlight .ne { color: #bbbbbb } /* Name.Exception */
  .highlight .nf { color: #447fcf } /* Name.Function */
  .highlight .nl { color: #d0d0d0 } /* Name.Label */
  .highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
  .highlight .nx { color: #d0d0d0 } /* Name.Other */
  .highlight .py { color: #d0d0d0 } /* Name.Property */
  .highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
  .highlight .nv { color: #40ffff } /* Name.Variable */
  .highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
  .highlight .w { color: #666666 } /* Text.Whitespace */
  .highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
  .highlight .mf { color: #3677a9 } /* Literal.Number.Float */
  .highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
  .highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
  .highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
  .highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
  .highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
  .highlight .sc { color: #ed9d13 } /* Literal.String.Char */
  .highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
  .highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
  .highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
  .highlight .se { color: #ed9d13 } /* Literal.String.Escape */
  .highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
  .highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
  .highlight .sx { color: #ffa500 } /* Literal.String.Other */
  .highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
  .highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
  .highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
  .highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
  .highlight .fm { color: #447fcf } /* Name.Function.Magic */
  .highlight .vc { color: #40ffff } /* Name.Variable.Class */
  .highlight .vg { color: #40ffff } /* Name.Variable.Global */
  .highlight .vi { color: #40ffff } /* Name.Variable.Instance */
  .highlight .vm { color: #40ffff } /* Name.Variable.Magic */
  .highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
}

// Changes by molily
// In JavaScript/TypeScript, err is used for the `template literal`.
// Make it look like a normal .s1 (Literal.String.Single) instead of an error.
.language-typescript, .language-js {
  .highlight .err {
    color: #CC3300;
    background-color: transparent;
    @include dark-scheme {
      color: #ed9d13;
      background-color: transparent;
    }
  }
}
