---
layout: default
---
{% capture title %}
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
{% endcapture %}

<title>{{ title | strip }}</title>

<link rel="stylesheet" href="{{ "/assets/css/book.css" | prepend: site.baseurl }}">

<link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/favicon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicons/favicon-144x144.png">

{% include head-common.html %}
</head>
<body>

{{ content }}

{% include register-service-worker.html %}

